<h1>Edit page</h1>
<%= render :partial => "/form" %>
<form class="" action="/<%=@chef.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="delete">
</form>
